<h3><i class="fas fa-book-reader"></i>개발자 유국현</h3>
<div class="section">
    <p class="lead">유국현 프로젝트를 공개합니다!</p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> 구글 로그인
    </a>
</div>